html {
  scroll-behavior: smooth;
}

body {/*making the body fade in*/
    text-align: center;
    opacity: 1;
    transition: 10s opacity;
    font-family: Arial, Helvetica, sans-serif;
}
body.fade-out {
    opacity: 0;
    transition: none;
}
*   {
    box-sizing: border-box;
}
html {
    background-color: aquamarine;
}
#subform {
    margin: auto;
    border: 1px solid rgba(21, 236, 128, 0.89);
    border-radius: 5px;
    width:500px;
    height: 600px;
    background-image: url(./images/dragon2.png);
}

input {
    padding: 10px 20px;
    margin: 15px;
    box-sizing: border-box;
    width: 200px;
    background-color: rgba(221, 172, 233, 0.753);
}
input:focus {
    background-color: mediumaquamarine;
}
input[type=submit] {
    background-color: rgba(221, 172, 233, 0.753);
}
input[type=submit]:hover {
    background-color:  mediumaquamarine;
}
form {
    text-align: left;
}

textarea {
    padding: 10px 20px;
    margin: 15px;
    background-color: rgba(221, 172, 233, 0.753);
}
textarea:focus {
    background-color: mediumaquamarine;
}
#moveImage {
  width: 100px;
  height: 100px;
  background: rgba(217, 255, 0, 0.678);
  position: relative;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  0%   {top: 0px;}
  25%  {top: 200px;}
  75%  {top: 50px}
  100% {top: 100px;}
  0%   {left: 0px;}
  25%  {left: 200px;}
  75%  {left: 50px}
  100% {left: 100px;}
}
 
/* [1] The container */
.img-hover-zoom {
  float: left;
  width: 860px;
  height: 460px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transform-origin: 65% 75%;
  transition: transform 1s, filter 1.5s ease-out;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(2);
}









.open-button {
  background-color:rgba(221, 172, 233, 0.753);
  color: white;
  padding: 16px 20px;
  border: 1px solid rgba(21, 236, 128, 0.89);
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}


.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 1px solid rgba(21, 236, 128, 0.89);
  z-index: 9;
}


.form-container {
  max-width: 300px;
  padding: 10px;
  background-color:  mediumaquamarine;
}


.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: rgba(221, 172, 233, 0.753);
}


.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: rgba(221, 172, 233, 0.753);
  outline: none;
}


.form-container .btn {
  background-color: #4CAF50;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}


.form-container .cancel {
  background-color: red;
}


.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}



/*slid show*/
.mySlides{display: none;}
img {vertical-align: middle;}

.slideshow-container {
    max-width: 50%;
    position: relative;
    margin: auto;
}

.numbertext {
    color: rgb(221, 245, 3);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.active {
    background-color: rgba(13, 158, 0, 0.746);
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: false;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from{opacity: .4;}
    to{opacity: 1;}
}
@keyframes fade {
    from{opacity: .4;}
    to{opacity: 1;}
}
@media only screen and (max-width: 300px) {
    .text {font-size: 11px;}
}

.container {   
    text-align: center;
    padding-top: 0;
    margin: auto;
    width: 75%;
    background-color: rgb(73, 123, 163);
}
